body {font-family: 'Rubik'}
div.header {display:inline-block; width:100%; position: relative; min-height: 50px}
div.midHeader {width:40%; display:inline-block}
div.bandlogo {display:inline-block; font-family: 'Bitcount Single', sans-serif; font-size: 50px; padding-left: 2%; width:20%}
ul.navBar {display:inline-block; position:absolute; right: 20px; vertical-align: middle; font-family: 'Bitcount Single', sans-serif; font-size: larger;}
ul.navBar li {display:inline-block; text-decoration: none;}
.mobileMenu {display:none; width:25px; height:100px}
.mobileNav {width:300px; background-color: white;}
ul.navBar li>a {text-decoration: none; color:black;}
ul.navBar li:hover {background-color: black;}
ul.navBar li>a:hover {text-decoration: none; color:white;}
div.bandhome {width: 100%; height:100%; display: inline-block; position:relative;
                background-image:url(bandhome.jpg); background-size:cover;}
a.homeButton {text-decoration: none; color:black}
/* This is not properly centered in the picture*/
h1 {font-family: 'Bitcount Single'; color:white; text-align: center;
    font-size: 40px; z-index: 10; position: absolute; top: 40%; 
    display:inline-block; width: 100%; margin: 0 auto}
h2 {font-family: 'Bitcount Single'; text-align: center}
p {font-family: 'Rubik';}
a.linkButton {display:block; border: 2px solid black; background-color:black; width:200px;
                font-family: 'Bitcount Single'; font-size: xx-large; text-align: center; color:white;
                text-decoration: none; margin: 0 auto; margin-top:10px}
a.linkbutton:hover {border: 2px solid black; background-color:white; color:black}
p.centerBlurb {width: 75%; text-align:center; margin: 0 auto;}
div.fullRow {position:relative; padding-left:5%; height:300px;}
span.picSide {width: 45%; height:300px; display:inline-block; margin: 0 auto; vertical-align:middle; position:relative;}
div.picBox {vertical-align: middle; position: absolute; height:300px}
/* TODO Figure out how to make this vertical center */
span.desSide {width: 50%; height:300px; display:inline-block; margin: 0 auto; vertical-align: top; position:relative;}
div.textBox {vertical-align: middle; position: absolute; height:300px; width:500px}
div.footer {display: inline-block; position:relative; width: 100%; border:2px solid #000000; margin-top:2%}
div.footerLink {display: inline-block; font-family: 'Bitcount Single'; font-size: medium; text-align: right;}
.hamburger-icon {display:none}
.hamburger-icon span {height: 8px; width: 100px; background-color: black; display:block; margin-bottom: 15px}
div.mobilePic {display:none}
div.mobileText {display:none}
@media (max-width: 1000px) {
    .mobileMenu {display:block; position:absolute; right: 100px; top:20px;}
    /* * Make the header bigger */
    div.header {min-height: 100px}
    div.bandlogo {font-size:75px}
    div.header ul.navbar {display:none}
    div.fullRow {display: none}
    .hamburger-icon {display:inline-block}
    .mobileMenu:hover .mobileNav {display:block; z-index:10}
    .mobileNav {position:absolute; top:10px;}
    ul.navBar {right:0px}
    .mobileNav ul {padding: 15px 0;}
    .mobileNav ul li {display:block; margin:0; padding: 0 0 0 10px;}
    .mobileNav ul li a {display:block;}
    /* * Make the text bigger */
    ul.navBar li>a {font-size: 50px}
    h1 {font-size:65px}
    h2 {font-size:50px}
    p {font-size:30px}
    ul li {font-size:30px}
    a.linkbutton {font-size:50px; width:350px}
    /* * For the text boxes in index and services */
    div.mobilePic {display:inline-block; width:100%}
    div.mobileText {display:inline-block; width:100%;}
}